@using Avd4.Aula.Domain.Entidades
@model Curso
@{
    ViewData["Title"] = "Detalhe do curso";
}

<div class="row mt-3 mb-3">
    <div class="col-12">
        <fieldset>
            <legend>Informações do curso</legend>
        </fieldset>
        <hr />
    </div>
    <div class="col-md-12">

        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="">Nome</label>
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", id = "Nome", @readonly = "readonly" })
                </div>
                <div class="form-group col-md-12">
                    <label for="">Descrição</label>
                    @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", @rows = 5, id = "Descricao", @readonly = "readonly" })
                </div>
            </div>
            <a href="/admin-curso/listar" class="btn btn-warning">Voltar</a>
        </form>
    </div>
</div>

