@{
    ViewData["Title"] = "Bem-vindo!";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a Treinamento Cursos!</h1>
    <p>Seu espaço do apreendizado online!</p>
</div>

<hr />
<fieldset>
    <legend>Material de apoio para gestão de <strong>curso</strong></legend>
</fieldset>
<div class="row mb-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Cadastro</h6>
                <p class="card-text">
                    Para cadastrar um curso, é necessário informar o nome. A descrição é opcional.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Atualização</h6>
                <p class="card-text">
                    Os dados atualizados do curso, são:
                    <ul>
                        <li>Nome</li>
                        <li>Descrição</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Exclusão</h6>
                <p class="card-text">
                    Ao excluir um curso, é excluido automaticamente suas disciplinas e inscrições relacionadas
                </p>
            </div>
        </div>
    </div>
</div>

<hr />
<fieldset>
    <legend>Material de apoio para gestão de <strong>disciplina</strong></legend>
</fieldset>
<div class="row mb-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Cadastro</h6>
                <p class="card-text">
                    Para cadastrar uma disciplina, é necessário informar o nome. A descrição é opcional.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Atualização</h6>
                <p class="card-text">
                    Os dados atualizados da disciplina, são:
                    <ul>
                        <li>Nome</li>
                        <li>Descrição</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Exclusão</h6>
                <p class="card-text">
                    Ao excluir uma disciplina, é excluido automaticamente seu relacionamento com os cursos
                </p>
            </div>
        </div>
    </div>
</div>

<hr />
<fieldset>
    <legend>Material de apoio para gestão de <strong>aluno</strong></legend>
</fieldset>
<div class="row mb-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Cadastro</h6>
                <p class="card-text">
                    Os dados obrigatórios do aluno para cadastro, são:
                    <ul>
                        <li>Nome</li>
                        <li>Matricula</li>
                        <li>E-mail</li>
                        <li>Endereço</li>
                        <li>Número</li>
                        <li>Bairro</li>
                        <li>Cidade</li>
                        <li>Estado</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Atualização</h6>
                <p class="card-text">
                    Os dados atualizados do aluno, são:
                    <ul>
                        <li>Nome</li>
                        <li>Matricula</li>
                        <li>E-mail</li>
                        <li>Endereço</li>
                        <li>Número</li>
                        <li>Bairro</li>
                        <li>Cidade</li>
                        <li>Estado</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Exclusão</h6>
                <p class="card-text">
                    Ao excluir um aluno, é excluido automaticamente suas inscrições
                </p>
            </div>
        </div>
    </div>
</div>

<hr />
<fieldset>
    <legend>Material de apoio para gestão de <strong>inscrição</strong></legend>
</fieldset>
<div class="row mb-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Cadastro</h6>
                <p class="card-text">
                    Para cadastrar uma inscrição, é necessário informar:
                    <ul>
                        <li>Id do aluno</li>
                        <li>Id do curso</li>
                        <li>Status</li>
                        <li>Data de início</li>
                        <li>Data de conclusão</li>
                        <li>A data de início não pode ser maior que a data de conclusão</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Atualização</h6>
                <p class="card-text">
                    Os dados atualizados da inscrição, são:
                    <ul>
                        <li>Id do curso</li>
                        <li>Status</li>
                        <li>Data de início</li>
                        <li>Data de conclusão</li>
                        <li>A data de início não pode ser maior que a data de conclusão</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Exclusão</h6>
                <p class="card-text">
                    Ao excluir uma inscrição, é excluido automaticamente seu relacionamento com o aluno
                </p>
            </div>
        </div>
    </div>
</div>
